/* Duas formas de coloração */
body{
    /* Apenas fundo,coloração padrão  */
    background-color: rgb(243, 218, 171);

    /* Apenas texto,Coloração Hexadecimal */
    /* color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */

    /*Coloração por RGB (RED,GREEN,BLUE)  */
    /* color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

    /* Coloração por RGBA (RED,GREEN,BLUE,APHA) */
    color: rgba(56, 45, 48, 0.651);
    
    
}